* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('dark_blue.jpg') no-repeat;
    background-size:cover;
    background-position: center;
}

.wrapper {
    height: 200px;
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 30px;
}

.wrapper .control{
    display:flex;
    justify-content: space-between;
    margin: 20px 0px 0px;
}

.wrapper input{
    width:35%;
    height: 35px;
    background: #ffffff80;
    border: none;
    outline:none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper input:hover{
    background: transparent;
    color:#fff;
}