body {
    background-color: #379c4b;
}

.container {
    width: 350px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
}

.red-text {
    color: red;
    margin-left: 100px;
}

.form-field input[type="text"] {
    width: 20%;
    padding: 5px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-field input[type="email"]{
    width: 20%;
    padding: 5px;
    margin-left: 46px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-field input[type="password"]{
    width: 20%;
    padding: 5px;
    margin-left: 23px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn{
    padding: 10px 40px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 50px;
    border: 1px solid #333;
}