.red-text {
    color: red;
    margin-left: 100px;
}

.form-field input[type="text"] {
    width: 20%;
    padding: 5px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-field input[type="email"]{
    width: 20%;
    padding: 5px;
    margin-left: 46px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-field input[type="password"]{
    width: 20%;
    padding: 5px;
    margin-left: 23px;
    border: 1px solid #ccc;
    border-radius: 3px;
}